[user]
    name = Kari Naga
    email = 4119937+kari-naga@users.noreply.github.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIA1TB1eyN2NcLI/DhHmA6gxmY4W/+VXtMt29bDpp2jdq

[gpg]
    format = ssh

[gpg "ssh"]
    program = "/mnt/c/Users/Kari/AppData/Local/1Password/app/8/op-ssh-sign-wsl"

[commit]
    gpgsign = true

[init]
    defaultBranch = main

[core]
	sshCommand = ssh.exe
